/private/
/temp/
*.odt#
*.ods#
/node_modules/

# Don't include temp files:
/pdfOcr_temp*/
# DO allow this one though to speed up development:
!/pdfOcr_temp_20191110-231200.594322352/

/git_branch_hash_backups/
